* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
}

.wrapper {
  width: 80%;
  margin: 20px auto;
  padding: 40px;
  background-color: white;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  display: block;
  margin: 20px auto;
  width: 200px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(57, 114, 199);
  box-shadow: 0 -3px rgb(55, 66, 167) inset;
  transition: 0.2s;
}

button:hover {
  background: rgb(48, 55, 167);
}

button:active {
  background: rgb(56, 71, 147);
  box-shadow: 0 3px rgb(63, 71, 147) inset;
}

h1 {
  text-align: center;
}

.foto {
  display: block;
  margin: 30px auto;
  width: 30%;
}

.section p {
  margin: 10px 0;
}

.section {
  border-bottom: 2px solid grey;
}

.last-section, .section {
  padding: 20px 25px;
}

.phone {
  margin-bottom: 30px;
}