<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework 11 - 12</title>
  <link rel="stylesheet" href="css/myPlugin.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/lodash.js"></script>
  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/myPlugin.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
<div class="wrapper">
  <ul class="carousel-list">
    <li class="carousel-elem"><img src="img/image1.jpg" alt="">
      <p>Картинка 1</p>
    </li>
    <li class="carousel-elem"><img src="img/image2.jpg" alt="">
      <p>Картинка 2</p>
    </li>
    <li class="carousel-elem"><img src="img/image3.jpg" alt="">
      <p>Картинка 3</p>
    </li>
    <li class="carousel-elem"><img src="img/image4.jpg" alt="">
      <p>Картинка 4</p>
    </li>
    <li class="carousel-elem"><img src="img/image5.jpg" alt="">
      <p>Картинка 5</p>
    </li>
    <li class="carousel-elem"><img src="img/image6.jpg" alt="">
      <p>Картинка 6</p>
    </li>
    <li class="carousel-elem"><img src="img/image7.jpg" alt="">
      <p>Картинка 7</p>
    </li>
    <li class="carousel-elem"><img src="img/image1.jpg" alt="">
      <p>Картинка 8</p>
    </li>
    <li class="carousel-elem"><img src="img/image2.jpg" alt="">
      <p>Картинка 9</p>
    </li>
    <li class="carousel-elem"><img src="img/image3.jpg" alt="">
      <p>Картинка 10</p>
    </li>
    <li class="carousel-elem"><img src="img/image4.jpg" alt="">
      <p>Картинка 11</p>
    </li>
    <li class="carousel-elem"><img src="img/image5.jpg" alt="">
      <p>Картинка 12</p>
    </li>
    <li class="carousel-elem"><img src="img/image6.jpg" alt="">
      <p>Картинка 13</p>
    </li>
    <li class="carousel-elem"><img src="img/image7.jpg" alt="">
      <p>Картинка 14</p>
    </li>
  </ul>
  <button> About Me</button>
</div>

<!--шаблон для страницы ОБ АВТОРЕ-->
<script type="text/template" id="authorInfo">
  <div class="section">
    <h1><%=name%></h1>
    <img src=<%-fotoSrc%> alt="My foto" class="foto">
    <p><%=job%></p>
  </div>
  <div class="section">
    <p><%=goal%></p>
    <ul>
      <% reasons.forEach(function(item) { %>
      <li><%-item%></li>
      <% }); %>
    </ul>
  </div>
  <div class="section">
    <p><%=phoneTitle%> </p>
    <p class="phone"><%=phone%></p>
    <p><%=webTitle%></p>
    <a href="<%=vkLink%>">Клик</a>
  </div>
  <div class="last-section">
    <p><%=feedTitle%></p>
    <p><%=feed%></p>
  </div>
</script>
</body>
</html>